@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@layer base{
  button {
    @apply cursor-pointer
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.animate-fade-in{
  animation: fade-in 0.8s ease-out;
}
